
*{
 background-color: #1a1a1a;
 padding: 0;
 margin: 0;
}


#banner{
    height: 450px;
    width: 750px;
}
li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
}
ul{

    display: flex;
    flex-direction: row;
}
li{ 
    list-style: none;
}
nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}



#logo{
      height: 100px;
       width: 100px;
}